
 <HEAD>
<TITLE>Basic HTML Sample Page</TITLE>
</HEAD>

<BODY BGCOLOR="#E4AEF1">
<CENTER>
<H1>Welcome csc 667</H1>

 

Hello thank you for visiting my page 
  <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>

Best regards 
Hatem
 

 
</body> 
</html>

