
 <HEAD>
<TITLE>csc 667 assignment3</TITLE>
</HEAD>

<BODY BGCOLOR="#E4AEF1">
<CENTER>
<H1>Welcome csc 667</H1>

 

Hello thank you for visiting my page 
<div>
  
<a href="https://hatemushistory.blogspot.com/">link to my blog</a>

</div>

<div>
<img>http://4.bp.blogspot.com/--miW588gZpY/VAAzTwheBSI/AAAAAAAAChY/k6IohIGm2Kc/s220/2014-07-28%2B10.01.58.jpg</img>
</div>
Best regards 
Hatem
 

 
</body> 
</html>

