
 <HEAD>
<TITLE>csc 667 assignment3</TITLE>
</HEAD>

<BODY BGCOLOR="#E4AEF1">
<CENTER>
<H1>Welcome csc 667</H1>

 

Hello thank you for visiting my page 
<div>
  
<a href="https://hatemushistory.blogspot.com/">link to my blog</a>

</div>

<div>

<img src="http://www.tumblr18.com/t18/2013/10/Cute-kitten-praying.jpg" alt="Cute Kitten" style="width:128px;height:128px"> 

</div>
Best regards 
Hatem
 

 
</body> 
</html>

